* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
body {
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
}
nav {
  display: inline-block;
}
li {
  display: inline;
  list-style: none;
  margin: 0px 15px;
}
p {
  height: 260px;
  overflow: scroll;
}
footer {
  height: 50px;
  background-color: grey;
}
.max_width {
  width: 100%;
}
.right {
  float: right;
  width: 50%;
}
.full_width_background { /*built using https://css-tricks.com/full-browser-width-bars/ technique*/
  margin: 0 -9999rem;
  padding: 30px 9999rem;
  background: grey;
}
.gutter {
  margin: 15px;
}
.first_child {
  margin-left: 0;
}
.last_child {
  margin-right: 0;
}
